/*CSS reset settings here*/
*{ 
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    /* //This will push Silver to Top of Page */
    overflow: auto;
   }
   #header{
    min-height: 150px;
    /* //Added margin */
    margin: 10px;
    background-color: green;
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    margin: 10px;
    /* //inline block will help share the space with Red */
    display: inline-block;
    background-color: blue;
   }
   #main_content{
    min-height: 400px;
    /* //Added 5px to width so it aligns with Green */
    width: 705px;
    margin: 10px;
    display: inline-block;
    /* Vertical align will be what brings red to align with blue @ top */
    vertical-align: top;
    background-color: red;
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    /* Only add top and left margins to center squares */
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    background-color: yellow;
   }
   #advertisement{
    min-height: 120px;
    width: 660px;
    margin: 10px;
    background-color: purple;
   }
   